@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);


/*******************************************
GENERAL
********************************************/

body {
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;

}



/*******************************************
COLORS
********************************************/

/* definition text */
p.definition {
  color: #040404;
  padding-left: 10px;
}


/* site body */
body {
  background-color: #fff;
  /*color:#999;*/
}

/* green header */
/*header {
  background: #ea1143;
  border-color: #599a68;
}*/

/* nav background on mobile */
nav {
  background: ##33cc33;
}

/* logo text */
/*h1, h2, h3 {
  color: ##4a4a4a;
}*/

/* links */
a {
  color: #6ab47b;
}

/* nav links */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color:#32673f;
}

  /*******************************************
  HEADING
  ********************************************/

  .cover-image {
    height: 50vh;
    width: 100%;
    background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
        url("../img/latina-engineer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
  }





  h1 {
    padding-top: 5%;
  	margin: 15px 0;
  	font-size: 1.00em;
  	font-weight: normal;
  	line-height: 0.8em;
  }

  h2 {
  	font-size: 0.75em;
  	margin: -5px 0 0;
  	font-weight: normal;
  }

  .definition{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    margin: 0;
    font-size: 1rem;
  }



  /*******************************************
  NAVIGATION
  ********************************************/

  nav {
  	text-align: center;
  	padding: 10px 0;
  	margin: 20px 0 0;
  }

  nav ul {
  	list-style: none;
  	margin: 0 10px;
  	padding: 0;
  }

  nav li {
  	display: inline-block;
  }

  nav a {
  	font-weight: 700;
  	padding: 15px 10px;
  }

/*CONTRIBUTORS SECTION*/
body{
   margin:0;
}
.img-wrap{
  margin: 10px 30px 10px 30px;
  display:inline-block;
}
.img-wrap ul{
  padding:0;
}
.img-wrap img{
  width:240px;
}

.founders {
  border-radius:50%;
  width:100%;
}

.img-wrap li{
  list-style-type:none;
  color:black;
 font-family: 'Merriweather', serif;
  font-size:18px;
}
.name{
  color:black
}


.contributors {
  text-align: center;
}

.contributors h1
 {
  color: black;
  padding-top: 50px;
}

.contributors p{

  color:#999;
  text-align:center;
  background-size:cover;
  padding:1em;
  width:100%;
  margin: 1px 1px 1px 1px;
}

/*END CONTRIBUTORS SECTION*/

  /*******************************************
  FOOTER
  ********************************************/

  footer {
  	font-size: 0.75em;
  	text-align: center;
  	clear: both;
  	padding-top: 50px;
  	color: #ccc;
  }

  .social-icon {
  	width: 20px;
  	height: 20px;
  	margin: 0 5px;
  }



  /*******************************************
  PAGE: LANDING
  ********************************************/

  .main-wrapper {
    max-width: 940px;
    margin: 50vh auto 0;
    padding: 0 5%;
    text-align: center;
  }

  #why-hire-wrapper {
    max-width: 940px;
    margin: 2em auto;
    padding: 0 5%;
    text-align: center;
  }


  #gallery {
  	margin: 0;
  	padding: 0;
  	list-style-type: none;
  }

  #gallery li {
  	float: left;
  	width: 45%;
  	margin: 2.5%;
  	background-color: f5f5f5;
  	color: #bdc3c7;
  }

  #gallery li a p{
  	margin: 0;
  	padding: 5%;
  	font-size: 0.75em;
  	color: #bdc3c7;
  }

  .profile-photo {
  	max-width: 150px;
  	margin: 0 auto 30px;
  	border-radius: 100%;
  }



  /*******************************************
  PAGE: CONTACT
  ********************************************/

  .contact-info{
  	text-align: center;
  	list-style: none;
  	padding: 0;
  	margin: 0;
  }

  .contact-info .social-icon {
  	width: 60px;
  	height: 60px;
  	margin: 0 5px;
  }


  /*******************************************
  flex-box
  ********************************************/
   .flex-container {
    padding: 10;
    margin: 10;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

  .flex-item {
    background: skyblue;
    padding: 10px;
    width: 250px;
    height: 275px;
    margin-top: 30px;
    line-height: 18px;
    color:black;
    text-align: left;
  }

  .flex-item a {
    color:red;
  }

  .top{
    font-size: 25px;
    color:black;
  }
